/* App.css */

.app-container {
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Centre le conteneur */
    padding: 20px;
    border-radius: 8px;
    background: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 800px; /* Limite la largeur */
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de s'enrouler s'ils dépassent */
    justify-content: space-between; /* Répartit les éléments horizontalement */
}

.form-container div {
    margin-bottom: 10px;
    width: calc(50% - 10px); /* Calcule la largeur à 50% moins la marge */
}

.form-container div:nth-child(1),
.form-container div:nth-child(2),
.form-container div:nth-child(3) {
    width: 100%; /* Ajuste la largeur des trois premiers champs à 100% */
}

.table-header th {
    color: black;
}

input[type="text"],
input[type="number"],
select {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ajuste la largeur à 100% pour les trois premiers champs */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 8px; /* Ajoute une marge à droite pour séparer les boutons */
}

button:last-child {
    margin-right: 0; /* Supprime la marge à droite pour le dernier bouton */
}

button:hover {
    background-color: #0056b3;
}

.product-list {
    list-style-type: none;
    padding: 0;
}

.product-list li {
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Popup Styles */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    background: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 80%;
}

.popup-buttons {
    margin-top: 20px;
    text-align: center;
}

.popup table {
    width: 100%;
    border-collapse: collapse;
}

.popup th, .popup td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.popup th {
    background-color: #f2f2f2;
}

.popup tr:nth-child(even) {
    background-color: #f2f2f2;
}
