@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;800&display=swap');





.order-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc; /* Thicker border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .form-title {
    font-size: 34px; /* Adjust the font size as needed */
    margin-bottom: 30px; /* Add space between the title and the form content */
    color: black;
  }

  .customer-date-container {
    display: flex;
    justify-content: space-between;
  }
  
  .customer-date-container > div {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between customer and date picker */
  }


  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .product-details .form-group {
    margin-bottom: 10px;
  }
  
  .product-details label {
    width: 150px; /* Adjust the width of the labels */
    text-align: right; /* Align label text to the right */
  }
  
  .product-details input,
  .product-details select {
    width: 200px; /* Adjust the width of the inputs/selects */
  }
  
  .product-details input[type='text'],
  .product-details input[type='number'],
  .product-details select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-details input[type='text'][readonly] {
    background-color: #f0f0f0;
  }

  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  