/* Appprovider.css */

/* Style pour le titre principal */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style pour les titres de section */
h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Style pour les boutons */
button {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3; /* Bleu plus foncé au survol */
}

/* Style pour les formulaires */
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="boolean"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes de colonne */
}

/* Style pour les boutons d'édition et de suppression dans le tableau */
.action-buttons button {
  margin-right: 5px;
}

.action-buttons button.edit {
  background-color: #28a745; /* Vert */
}

.action-buttons button.delete {
  background-color: #dc3545; /* Rouge */
}
/* Style pour les formulaires */
form {
  max-width: 400px; /* Largeur maximale */
  margin: 0 auto; /* Centrage horizontal */
  margin-bottom: 20px;
}

input[type="text"],
input[type="boolean"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclure la largeur du bord et du padding dans la largeur totale */
}
