/* Conteneur principal */
.container {
  max-width: 1200px; /* Utilisation d'une largeur maximale en pourcentage */
  margin: 0 40px;
}

/* Style pour les titres */
h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff; /* Couleur de texte sombre */
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff; /* Couleur de texte bleue */
}

/* Bouton "Create" aligné à droite */

/* Style pour les boutons */
.create-button  {
  background-color: #1835c5; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajout d'un espace entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}
.view-button  {
  background-color: #ff7411; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajout d'un espace entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}
.delet-button  {
  background-color: #d42424; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajout d'un espace entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}
.edit-button  {
  background-color: #35b014; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajout d'un espace entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}
/* Style pour les boutons d'action dans le tableau */
.action-buttons button {
  margin-right: 8px; /* Réduit l'espace entre les boutons d'action */
  background-color: #192cd9; /* Bleu */

}

/* Style pour les popups */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

/* Style pour les formulaires */
form {
  max-width: 450px; /* Largeur maximale */
  margin: 0 auto; /* Centrage horizontal */
}

input[type="text"],
input[type="boolean"] {
  width: calc(100% - 24px); /* Largeur du champ moins le padding */
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; /* Inclure la largeur du bord et du padding dans la largeur totale */
}

/* Style pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes de colonne */
}

/* Style pour les boutons d'action dans le tableau */
.action-buttons button {
  margin-right: 8px;
}

.action-buttons button.edit {
  background-color: #28a745; /* Vert */
}

.action-buttons button.delete {
  background-color: #dc3545; /* Rouge */
}

/* Style pour la croix de fermeture */
.popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333; /* Couleur de texte sombre */
  cursor: pointer;
}

.popup .close-button:hover {
  color: #555; /* Changement de couleur au survol */
}
