/* Form Styles */
.production-grid {
  display: flex;
  flex-direction: column;  /* Stack form elements vertically */
}

.form-group {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two-column layout for the inputs */
  gap: 20px; /* Space between the columns */
}

.label {
  grid-column: 1 / -1; /* Ensure the label spans both columns */
  font-weight: bold;
  margin-bottom: 5px;
}

.input-small, select, .textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* Prevent resizing of text areas */
}

/* Button Group with Center Alignment */
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center align the buttons */
}

.button, .button-calc {
  background-color: #ee6510;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: auto; /* Adjust width to content */
  height: 100%;
}
.title-small{
  color:white;
  background-color:#b31217;
}
/* Responsive Design */
@media (max-width: 768px) {
  .form-group {
    grid-template-columns: 1fr; /* Stack inputs vertically on smaller screens */
  }

  .button-group {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
}

/* Quantities and Results Styles */
.quantities {
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.quantity-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Alerts */
.alert-success, .alert-error {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
}

.alert-success {
  background-color: green;
}

.alert-error {
  background-color: red;
}

.datebon{
  margin-bottom: 20px;
  margin-top: 10px;
}

.gray-button {
  background-color: #ccc; /* Couleur de fond grise */
  color: #666; /* Couleur du texte grise */
}

.gray-button:hover {
  background-color: #ccc; /* Couleur de fond grise au survol */
  color: #666; /* Couleur du texte grise au survol */
}