@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;800&display=swap');

/* Conteneur principal */
.container {
  max-width: 1200px; /* Utilisation d'une largeur maximale en pixels */
  margin: 0 auto; /* Centrage horizontal */
}

.title-all {
  background-color: rgb(164, 23, 23);
  position: relative;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #ffffff; /* Couleur de texte sombre */
  text-align: center;
}


h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff; /* Couleur de texte bleue */
}

/* Style pour les boutons */
.actions {
  display: flex;
  justify-content: center; 
  align-items: center;/* Alignement des boutons au centre */
  margin-bottom: 20px;
  top: 20px; /* Position verticale fixe par rapport au haut de la page */
  left: 20px;
}


.actions .create-button {
  margin-left: 10px; /* Marge à gauche pour l'espace entre l'input et le bouton */
}

.actions input[type="text"] {

  width: 200px; /* Largeur de l'input de recherche */
  margin-right: 70%; /* Marge à droite pour l'espace entre l'input et le bouton */
}

.create-button,
.view-button,
.delete-button,
.edit-button {
  background-color: #1835c5; /* Bleu par défaut */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px; /* Ajout d'un espace entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}

.view-button {
  background-color: #ff7411; /* Orange */
}

.delete-button {
  background-color: #d42424; /* Rouge */
}

.edit-button {
  background-color: #35b014; /* Vert */
}

/* Style pour les boutons "Delete" et "Cancel" de la popup */
.popup button.delet-button,
.popup button.cancel-button {
  background-color: #d42424; /* Rouge pour le bouton "Delete" */
  color: #fff; /* Texte blanc */
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px; /* Ajout d'un espacement entre les boutons */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}

.popup button.delet-button:hover,
.popup button.cancel-button:hover {
  background-color: #b30000; /* Rouge plus foncé au survol */
}


/* Style pour les popups */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

/* Style pour les formulaires */
form {
  max-width: 450px; /* Largeur maximale */
  margin: 0 auto; /* Centrage horizontal */
}

input[type="text"],
input[type="boolean"] {
  width: calc(100% - 20px); /* Largeur du champ moins le padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; /* Inclure la largeur du bord et du padding dans la largeur totale */
  transition: border-color 0.3s ease; /* Animation de transition pour la couleur de la bordure */
  font-size: 16px;
}

/* Style au survol */
input[type="text"]:hover,
input[type="boolean"]:hover {
  border-color: #aaa;
}

/* Style lorsqu'il est en focus */
input[type="text"]:focus,
input[type="boolean"]:focus {
  border-color: #555;
  outline: none; /* Supprimer l'outline par défaut */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ajouter une ombre pour indiquer le focus */
}
/* Style pour le tableau */
table {
  width: 1000px; /* Largeur du tableau à 100% pour s'adapter à la largeur du conteneur */
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: Arial, sans-serif; /* Police de caractères */
}

th, td {
  border: 1px solid #ccc; /* Bordure plus légère */
  padding: 4px; /* Moins de rembourrage pour diminuer la hauteur de la cellule */
  text-align: center;
}

th {
  background-color: #f0f0f0; /* Couleur de fond pour les en-têtes de colonne */
  color: #333; /* Couleur du texte pour les en-têtes de colonne */
}

/* Style pour les cellules de données alternées */
tr:nth-child(even) {
  background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

/* Style pour les survols de lignes */
tr:hover {
  background-color: #f5f5f5; /* Couleur de fond au survol */
}



/* Style pour la croix de fermeture */
.popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #333; /* Couleur de texte sombre */
  cursor: pointer;
}

.popup .close-button:hover {
  color: #555; /* Changement de couleur au survol */
}

/* Style pour la pagination */
.pagination {
  display: flex;
  justify-content: center; /* Alignement des boutons de pagination au centre */
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Texte blanc */
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 4px; /* Espacement entre les boutons de pagination */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}

.pagination button:hover {
  background-color: #0056b3; /* Bleu plus foncé au survol */
}

.pagination button:disabled {
  background-color: #ddd; /* Gris pour les boutons désactivés */
  cursor: not-allowed; /* Curseur non disponible pour les boutons désactivés */
}




/* Conteneur principal */
.container {
  max-width: 1200px; /* Utilisation d'une largeur maximale en pixels */
  margin: 0 auto; /* Centrage horizontal */
}

